// В этом файле должны быть стили для БЭМ-блока lead, его элементов,
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий...
// Очередность: http://nicothin.github.io/idiomatic-pre-CSS/#priority

.lead {

  $block-name:                &; // #{$block-name}__element

  padding: 0 0 45px;
  background-color: $light-background;
  font-size: $font-main;
  line-height: $line-main;
  text-align: center;

  @media (min-width: $screen-sm) {
    margin-top: 11px;
    padding: 122px 155px 135px;
    background-image: url('../img/decor.png');
    background-size: 269px 389px;
    background-position: 0 45px;
    background-repeat: no-repeat;
  }

  @media (min-width: $screen-md) {
    padding: 172px 225px 160px;
    background-size: 350px 500px;
    background-position: 15px 45px;
  }

  @media (min-width: $screen-lg) {
    padding: 195px 155px 160px;
    background-size: 410px 578px;
    background-position: 170px 45px;
  }

  &__wrapper {
    max-width: 320px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 62px;
    padding-bottom: 34px;
    background-image: url('../img/decor.png');
    background-size: 100px 150px;
    background-position: 0 6px;
    background-repeat: no-repeat;

    @media (min-width: $screen-sm) {
      max-width: 330px;
      padding: 0;
      background: none;
    }

    @media (min-width: $screen-lg) {
      max-width: 440px;
    }
  }

  &__logo {

    @media (min-width: $screen-sm) {
      width: 330px;
      height: 99px;
    }

    @media (min-width: $screen-lg) {
      width: 440px;
      height: 135px;
    }
  }

  &__text {
    padding-left: 20px;
    padding-right: 20px;

    @media (min-width: $screen-sm) {
      margin-top: 26px;
    }

    @media (min-width: $screen-md) {
      font-size: $font-main--md;
      line-height: $line-main--md;
    }

    @media (min-width: $screen-lg) {
      max-width: 640px;
      margin-top: 42px;
      margin-left: auto;
      margin-right: auto;
      font-size: $font-main--lg;
      line-height: $line-main--lg;
    }
  }
}
