mixin lead()
  section.lead
    h1.visually-hidden Шале "Телецкое"
    svg.lead__logo(width="180", height="55")
      use(xlink:href="img/sprite-svg.svg#main-logo")
    div.lead__text
      p Уютный отель на берегу Телецкого озера предлагает клиентам комфорт и умиротворение в окружении величественных гор и сибирской тайги. Основная цель проекта — создать сайт с удобной системой бронирования и показать все преимущества отдыха в «Шале Телецком».
