mixin concept()
  section.concept
    span.step__title Шаг третий
    h2.concept__title КОНЦЕПТ ГЛАВНОЙ
    p.concept__lead Отель находится в самом сердце Алтая, в месте уникального мягкого климата и незабываемых пейзажей. Визуальная концепция проекта строилась исходя из этих достоинств, и призвана наиболее ярко и эмоционально представить их.
    ul.concept__list
      li.concept__item
        img.concept__demo(src='/img/con-demo-1.png' alt='Мокап главной страницы')
      li.concept__item
        img.concept__demo(src='/img/con-demo-2.png' alt='Отдых в сердце Алтая')
      li.concept__item
        img.concept__demo(src='/img/con-demo-3.png' alt='Что-то еще интересненькое')
