// В этом файле должны быть стили для БЭМ-блока concept, его элементов,
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий...
// Очередность: http://nicothin.github.io/idiomatic-pre-CSS/#priority

.concept {

  $block-name:                &; // #{$block-name}__element

  min-height: 1160px;
  padding: 50px 20px 50px;
  background-image: url('../img/concept--xs.jpg');
  background-size: 100%;
  background-position: 0 340px;
  background-repeat: no-repeat;
  text-align: center;

  @media  (min-width: $screen-sm) {
    min-height: 1880px;
    padding-top: 35px;
    padding-bottom: 70px;
    background-image: url('../img/concept--sm.jpg');
    background-position: 0 395px;
  }

  @media (min-width: $screen-md) {
    position: relative;
    padding-top: 32px;
    background-image: url('../img/concept--md.jpg');
    background-position: 0 95%;
  }

  &__title {
    margin-bottom: 25px;
    font-size: $font-title;
    line-height: $line-title;
    text-transform: uppercase;

    @media (min-width: $screen-sm) {
      margin-top: 2px;
      margin-bottom: 16px;
      font-size: $font-title__sm;
      line-height: 1.2;
    }

    @media (min-width: $screen-md) {
      margin-top: 0;
      margin-bottom: 25px;
      font-size: $font-title__md;
    }
  }

  &__lead {

    @media (min-width: $screen-sm) {
      max-width: 500px;
      margin-left: auto;
      margin-right: auto;
    }

    @media (min-width: $screen-md) {
      max-width: 570px;
      font-size: $font-main--md;
      line-height: $line-main--md;
    }
  }

  &__list {
    margin-top: 29px;

    @media  (min-width: $screen-sm) {
      position: relative;
      margin-top: 40px;
    }

    @media (min-width: $screen-md) {
      margin-top: 48px;
      z-index: 1;
    }
  }

  &__item {
    padding-bottom: 20px;

    @media  (min-width: $screen-sm) {
      margin-top: -9px;
      padding-bottom: 0;
    }

    @media (min-width: $screen-md) {
      padding-bottom: 23px;
    }
  }

  &__demo {

    @media  (min-width: $screen-sm) {
      width: 88%;
    }

    @media (min-width: $screen-md) {
      width: 95%;
    }

    &--second {
      box-shadow: 0px 4px 50px rgba(0, 0, 0, 0.1);

      @media  (min-width: $screen-sm) {
        width: 75%;
        margin-left: -100px;
      }

      @media (min-width: $screen-md) {
        width: 70%;
        margin-left: -116px;
      }
    }

    &--third {
      box-shadow: 0px 4px 50px rgba(0, 0, 0, 0.1);

      @media  (min-width: $screen-sm) {
        width: 80%;
        margin-top: -25px;
        margin-right: -50px;
      }

      @media (min-width: $screen-md) {
        width: 77%;
        margin-top: -35px;
        margin-right: -60px;
      }

    }
  }

  &__decore {
    display: none;

    @media (min-width: $screen-md)  {
      content: '';
      display: block;
      position: absolute;
      bottom: -17px;
      right: 0;
      width: 0;
      min-width: 0;
      max-width: 92%;
      height: 260px;
      background-color: $main-background;
    }

  }
}
