// В этом файле должны быть стили для БЭМ-блока coffee, его элементов,
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий...
// Очередность: http://nicothin.github.io/idiomatic-pre-CSS/#priority

.coffee {

  $block-name:                &; // #{$block-name}__element

  padding: 8px 20px 30px;
  background-image: url('../img/coffee-back--xs.png');
  background-position: bottom;
  background-size: 100% 70%;
  background-repeat: no-repeat;
  text-align: center;

  @media (min-width: $screen-sm) {
    margin-bottom: 90px;
    padding-top: 14px;
    padding-bottom: 55px;
    background-image: url('../img/coffee-back--sm.png');
    background-position: 0 100%;
    background-size: 100% 100%;
  }

  @media (min-width: $screen-md) {
    position: relative;
    padding-top: 57px;
    background-image: url('../img/coffee-back--md.jpg');
    background-position: 0 62%;
    background-size: 100% auto;
  }

  @media (min-width: $screen-lg) {
    padding-top: 27px;
    background-image: url('../img/coffee-back--lg.jpg');
    background-position: 0 62%;
    background-size: 100% auto;
  }

  &__title {
    margin-bottom: 14px;
    font-size: $font-title;
    line-height: $line-title;
    text-transform: uppercase;

    @media (min-width: $screen-sm) {
      margin-top: 2px;
      margin-bottom: 16px;
      font-size: $font-title__sm;
      line-height: 1.2;
    }

    @media (min-width: $screen-md) {
      margin-top: 0;
      margin-bottom: 22px;
      font-size: $font-title__md;
    }

    @media (min-width: $screen-lg) {
      margin-bottom: 23px;
      font-size: $font-title__lg;
      line-height: $line-title--lg;
    }
  }

  &__text {
    margin-bottom: 35px;

    @media (min-width: $screen-sm) {
      max-width: 470px;
      margin-left: auto;
      margin-right: auto;
      margin-bottom: 45px;
    }

    @media (min-width: $screen-md) {
      max-width: 570px;
      margin-bottom: 58px;
      font-size: $font-main--md;
      line-height: $line-main--md;
    }

    @media (min-width: $screen-lg) {
      margin-bottom: 100px;
      font-size: $font-main--lg;
      line-height: $line-main--lg;
    }
  }

  &__img {
    width: 100%;
    max-width: 450px;

    @media (min-width: $screen-sm) {
      width: 74%;
      max-width: 650px;
      box-shadow: 0px 4px 50px rgba(0, 0, 0, 0.05);
    }

    @media (min-width: $screen-md) {
      position: relative;
      width: 84%;
      max-width: 800px;
      z-index: 2;
    }

    @media (min-width: $screen-lg) {
      max-width: 835px;
    }
  }

  &__decore {

    @media (min-width: $screen-md) {
      content: '';
      position: absolute;
      top: 13%;
      left: 0;
      max-width: 72%;
      min-width: 0;
      width: 0;
      height: 87%;
      background-color: rgba(248, 244, 244, 0.4);
      z-index: 1;
    }

    @media (min-width: $screen-lg) {
      height: 88%;
    }
  }
}
