mixin coffee()
  section.coffee
    span.step__title Шаг пятый
    h2.coffee__title Кофейня
    p.coffee__text Не забыли рассказать и об уютной кофейне, где гостей «Шале Телецкое» ждут блюда авторской кухни и приятные открытия в мире кофе. Теперь посетители сайта могут ознакомиться с меню, посмотреть фотографии блюд, и сделать предзаказ на мероприятие, юбилей или другое праздничное событие.
    img.coffee__img(src='/img/cof-demo-1.jpg' alt='Кофейня')
