mixin prototype()
  section.prototype
    span.step__title Шаг первый
    h2.prototype__title Прототипирование
    div.prototype__text
      p На этапе прототипирования все внимание уделили структуре и функциям проекта. Постарались нагляднее показать план расположения блоков на странице и их приоритетность.
    section.prototype__demo
      img.prototype__img(src='img/demo-1.jpg' alt='Номер Люкс')
      //img.prototype__img.prototype__img--group(src='/img/demo-2.jpg' alt='Варианты размещения')
