// В этом файле должны быть стили для БЭМ-блока prototype, его элементов,
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий...
// Очередность: http://nicothin.github.io/idiomatic-pre-CSS/#priority

.prototype {

  $block-name:                &; // #{$block-name}__element

  padding: 50px 0 40px;
  background-color: $main-background;
  text-align: center;
  box-sizing: content-box;

  @media (min-width: $screen-sm) {
    padding: 70px 20px 30px;
  }

  @media (min-width: $screen-md) {
    padding: 82px 40px 30px;
  }

  @media (min-width: $screen-lg) {
    padding: 98px 100px 30px;
  }

  &__title {
    margin-bottom: 10px;
    font-size: $font-title;
    line-height: $line-title;
    text-transform: uppercase;

    @media (min-width: $screen-sm) {
      margin-top: 2px;
      margin-bottom: 18px;
      font-size: $font-title__sm;
      line-height: 1.2;
    }

    @media (min-width: $screen-md) {
      margin-top: 0;
      margin-bottom: 25px;
      font-size: $font-title__md;
    }

    @media (min-width: $screen-lg) {
      margin-bottom: 23px;
      font-size: $font-title__lg;
      line-height: $line-title--lg;
    }
  }

  &__demo {
    margin: 0 20px;
    padding-top: 515px;
    padding-bottom: 191px;
    background-image: url('../img/prototype--xs.png');
    background-position: center 25px;
    background-size: contain;
    background-repeat: no-repeat;

    @media (min-width: $screen-sm) {
      margin: 0;
      padding-top: 495px;
      padding-bottom: 515px;
      background-image: url('../img/prototype--xs.png'), url('../img/prototype--xs.png');
      background-size: 360px auto, 360px auto;
      background-repeat: no-repeat, no-repeat;
      background-position: left 25px, right 125px;
      text-align: left;
    }

    @media (min-width: $screen-md) {
      padding-top: 725px;
      padding-bottom: 765px;
      background-size: 48% auto, 48% auto;
      background-position: left 55px, right 135px;
    }

    @media (min-width: $screen-lg) {
      padding-top: 900px;
      padding-bottom: 865px;
      background-size: 45% auto, 45% auto;
      background-position: left 40px, right 90px;
    }
  }

  &__img {
    width: 100%;
    max-width: 450px;
    margin-left: -10px;
    padding: 15px 10px;
    box-shadow: 0 4px 50px rgba(0, 0, 0, 0.1);
    background: #ffffff;

    @media (min-width: $screen-sm) {
      max-width: 430px;
      margin-left: 0;
      padding: 23px 15px;
    }

    @media (min-width: $screen-lg) {
      margin-left: -30px;
      max-width: 580px;
      padding: 35px 25px;
    }
  }

  &__text {

    @media (min-width: $screen-sm) {
      max-width: 490px;
      margin-left: auto;
      margin-right: auto;
    }

    @media (min-width: $screen-md) {
      max-width: 570px;
      font-size: $font-main--md;
    }

    @media (min-width: $screen-lg) {
      font-size: $font-main--lg;
      line-height: $line-main--lg;
    }
  }
}
