mixin spetial()
  section.spetial
    span.step__title Шаг четвертый
    h2.spetial__title Особенности
    p.spetial__text Главные сценарии на сайте — выбор подходящего номера и бронирование. Перед нами стояла задача сделать процесс максимально простым, описание уютных шале информативным, а бронирование номера — предвкушением приятного отдыха.
    ul.spetial__list
      li.spetial__item.spetial__item--choose
          h3.spetial__item-header ВЫБОР НОМЕРА
          img.spetial__item-img(src='/img/spec-demo-1.jpg' alt='Выбор номера')
      li.spetial__item.spetial__item--reserve
        h3.spetial__item-header БРОНИРОВАНИЕ
        p.spetial__item-text На странице номера мы показываем максимальное количество важной информации об интерьере и дополнительных вещах, что делают проживание еще более комфортным.
        div.spetial__wrapper
          img.spetial__item-img.spetial__item-img--right(src='/img/spec-demo-2.jpg' alt='Главная страница')
          img.spetial__item-img.spetial__item-img--left(src='/img/spec-demo-3.jpg' alt='Страница бронирования')
        p.spetial__item-text Доработали плагин бронирования. Форму теперь загружаем динамически, чтобы пользователю не пришлось тратить бесценные секунды на бессмысленное ожидание.
        img.spetial__item-img.spetial__item-img--full(src='/img/spec-demo-4.jpg' alt='Главная страница')
        img.spetial__item-img.spetial__item-img--center(src='/img/spec-demo-5.jpg' alt='Страница бронирования')
      li.spetial__item.spetial__item--mobile
        p.spetial__item-text При создании мобильной версии постарались облегчить процесс заполнения формы, для этого этапы бронирования разбили на максимально простые действия.
        ul.spetial__mobiles
          li.spetial__mobile.spetial__mobile--first
            img.spetial__mob-img(src='/img/first--xs.png' alt='Календарь бронирования')
          li.spetial__mobile.spetial__mobile--second
            img.spetial__mob-img(src='/img/second--xs.png' alt='Количество гостей')
          li.spetial__mobile.spetial__mobile--third
            img.spetial__mob-img(src='/img/third--xs.png' alt='Бронирование номера')
