// В этом файле должны быть стили для БЭМ-блока spetial, его элементов,
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий...
// Очередность: http://nicothin.github.io/idiomatic-pre-CSS/#priority

.spetial {

  $block-name:                &; // #{$block-name}__element

  padding: 50px 20px 0;
  text-align: center;

  @media (min-width: $screen-sm) {
    margin-top: -10px;
    padding-top: 0;
  }

  @media (min-width: $screen-md) {
    padding-top: 95px;
    padding-bottom: 10px;
  }

  @media (min-width: $screen-lg) {
    padding-top: 207px;
  }

  &__title {
    margin-bottom: 10px;
    font-size: $font-title;
    line-height: $line-title;
    text-transform: uppercase;

    @media (min-width: $screen-sm) {
      margin-top: 2px;
      margin-bottom: 17px;
      font-size: $font-title__sm;
      line-height: 1.2;
    }

    @media (min-width: $screen-md) {
      margin-top: 0;
      margin-bottom: 25px;
      font-size: $font-title__md;
    }

    @media (min-width: $screen-lg) {
      margin-bottom: 23px;
      font-size: $font-title__lg;
      line-height: $line-title--lg;
    }
  }

  &__text {
    max-width: 650px;
    margin-left: auto;
    margin-right: auto;

    @media (min-width: $screen-sm) {
      max-width: 470px;
    }

    @media (min-width: $screen-md) {
      max-width: 570px;
      font-size: $font-main--md;
      line-height: $line-main--md;
    }

    @media (min-width: $screen-lg) {
      font-size: $font-main--lg;
      line-height: $line-main--lg;
    }
  }

  &__list {
    width: calc(100% + 40px);
    margin-left: -20px;
    position: relative;

    &::before {
      content: '';
      position: absolute;
      top: -35px;
      right: 0;
      width: 75px;
      height: 180px;
      background-image: url('../img/choose-back--xs.png');
      background-size: cover;
      background-repeat: no-repeat;
      z-index: 1;

      @media (min-width: $screen-sm) {
        top: -176px;
        right: 0;
        width: 179px;
        height: 343px;
        background-image: url('../img/choose-back--sm.png');
      }

      @media (min-width: $screen-md) {
        top: -300px;
        right: 0;
        width: 250px;
        height: 450px;
        background-position: 75px 0;
      }

      @media (min-width: $screen-lg) {
        top: -90px;
        width: 320px;
        height: 550px;
        background-position: 0;
      }
    }
  }

  &__item {
    padding: 30px 0 60px;

    @media (min-width: $screen-sm) {
      padding-top: 40px;
      padding-bottom: 70px;
    }

    @media (min-width: $screen-md) {
      padding-bottom: 73px;
    }

    @media (min-width: $screen-lg)  {
      padding-top: 52px;
      padding-bottom: 77px;
    }

    &:last-of-type {
      @media (min-width: $screen-sm) {
        padding-bottom: 30px;
      }

      @media (min-width: $screen-lg) {
        margin-top: -20px;
        padding-top: 0;
      }
    }

    &--choose {
      position: relative;
      background-image: url('../img/choose-back.jpg');
      background-size: 100%;
      background-position: 0 90px;
      background-repeat: no-repeat;

      @media (min-width: $screen-sm) {
        background-size: 100% 76%;
        background-position: 0 100%;
      }

      @media (min-width: $screen-md) {
        background-size: 100% 74%;
      }
    }

    &--choose::after {
      content: '';
      position: absolute;
      left: 22px;
      bottom: -40px;
      width: 125px;
      height: 125px;
      background-image: url('../img/spec-choose.png');
      background-size: contain;
      background-position: 0 0;
      background-repeat: no-repeat;

      @media (min-width: $screen-sm) {
        left: 13px;
        bottom: -137px;
        width: 270px;
        height: 270px;
        background-image: url('../img/spec-choose--md.png');
      }

      @media (min-width: $screen-md) {
        left: 30px;
        bottom: 115px;
        width: 330px;
        height: 330px;
      }

      @media (min-width: $screen-lg) {
        left: 143px;
        bottom: 56px;
        width: 380px;
        height: 384px;
        z-index: 2;
      }
    }

    &--reserve {
      padding-bottom: 0;
      background-image: url('../img/bron-back--xs.png');
      background-size: 100% 80%;
      background-position: 0 175px;
      background-repeat: no-repeat;

      @media (min-width: $screen-sm) {
        padding-top: 46px;
        background-image: url('../img/bron-back--sm.png');
        background-size: 100% 86%;
      }

      @media (min-width: $screen-md) {
        position: relative;
        padding-bottom: 0;
        background-image: url('../img/bron-back--md.jpg');
        background-size: 100% 66%;
        background-position: 0px 91%;
      }

      @media (min-width: $screen-lg) {
        background-image: url('../img/bron-back--lg.jpg');
        background-size: 100% 62%;
        background-position: 0px 73%;
      }
    }

    &--mobile {
      margin-top: 21px;
      padding-bottom: 0;

      @media (min-width: $screen-sm) {
        margin-top: -35px;
      }

      @media (min-width: $screen-md) {
        margin-top: 30px;
      }
    }
  }

  &__item-header {
    margin-bottom: 18px;

    @media (min-width: $screen-sm) {
      margin-bottom: 22px;
      font-size: $font-second-title__sm;
      line-height: $font-second-line__sm;
    }

    @media (min-width: $screen-md) {
      font-size: $font-second-title__md;
    }

    @media (min-width: $screen-lg) {
      margin-bottom: 37px;
      font-size: $font-second-title__lg;
    }
  }

  &__wrapper {
    min-height: 560px;
    margin-top: 50px;
    position: relative;

    @media (min-width: $screen-sm) {
      min-height: 1155px;
      margin-top: 35px;
    }

    @media (min-width: $screen-md) {
      min-height: 1433px;
      margin-top: 43px;
    }

    @media (min-width: $screen-lg) {
      min-height: 1640px;
      margin-top: 41px;
    }

    #{$block-name}__item-img {
      position: absolute;
      top: 0;
    }
  }

  &__item-text {
    margin-top: -8px;
    padding-left: 20px;
    padding-right: 20px;
    max-width: 650px;
    margin-left: auto;
    margin-right: auto;

    @media (min-width: $screen-sm) {
      max-width: 480px;
      margin-top: -18px;
      margin-left: auto;
      margin-right: auto;
    }

    @media (min-width: $screen-md) {
      position: relative;
      z-index: 2;
      max-width: 600px;
      margin-top: -11px;
      font-size: $font-main--md;
      line-height: $line-main--md;
    }

    @media (min-width: $screen-lg) {
      margin-top: -20px;
      font-size: $font-main--lg;
      line-height: $line-main--lg;
    }


    &--second {
      margin-top: 0px;
    }
  }

  &__item-img {

    @media (min-width: $screen-md) {
      position: relative;
      z-index: 2;
    }

    &--choose {
      width: 87%;
      box-shadow: 0px 4px 50px rgba(0, 0, 0, 0.05);

      @media (min-width: $screen-sm) {
        width: 83%;
      }

      @media (min-width: $screen-md) {
        width: 68%;
      }

      @media (min-width: $screen-lg) {
        width: 53%;
      }
    }

    &--right {
      right: 0;
      width: 78%;
      max-width: 650px;
      box-shadow: 0px 4px 50px rgba(0, 0, 0, 0.05);

      @media (min-width: $screen-sm) {
        right: 50%;
        margin-right: -29%;
        width: 58%;
        max-width: none;
      }

      @media (min-width: $screen-md) {
        margin-right: -28%;
        width: 56%;
      }

      @media (min-width: $screen-lg) {
        margin-right: -24%;
        width: 48%;
      }
    }

    &--left {
      top: 104px !important;
      left: 6%;
      width: 88%;
      max-width: 300px;
      box-shadow: 0px 4px 50px rgba(0, 0, 0, 0.05);

      @media (min-width: $screen-sm) {
        top: 200px !important;
        left: 50%;
        margin-left: -41%;
        width: 76%;
        max-width: 610px;
      }

      @media (min-width: $screen-md) {
        top: 250px !important;
        left: 50%;
        margin-left: -40%;
        width: 74%;
        max-width: 740px;
      }

      @media (min-width: $screen-lg) {
        top: 288px !important;
        left: 50%;
        margin-left: -43%;
        width: 58%;
        max-width: 840px;
      }

      @media (min-width: $screen-xl) {
        margin-left: -31%;
      }
    }

    &--full {
      margin-top: 30px;
      max-width: 100%;
      box-shadow: 0px 4px 50px rgba(0, 0, 0, 0.05);

      @media (min-width: $screen-sm) {
        width: 77%;
        margin-top: 32px;
        margin-left: -45px;
      }

      @media (min-width: $screen-md) {
        width: 92%;
        max-width: 1200px;
        margin-left: 0;
      }

      @media (min-width: $screen-lg) {
        width: 75%;
        margin-top: 38px;
      }
    }

    &--center {
      width: 82%;
      margin-top: 25px;
      box-shadow: 0px 4px 50px rgba(0, 0, 0, 0.05);

      @media (min-width: $screen-sm) {
        width: 65%;
        margin-top: 25px;
        margin-right: -55px;
      }

      @media (min-width: $screen-md) {
        width: 63%;
        max-width: 800px;
        margin-top: 44px;
        margin-right: 54px;
      }

      @media (min-width: $screen-lg) {
        width: 53%;
        margin-top: 55px;
        margin-right: 0;
      }
    }
  }

  &__decore {

    @media (min-width: $screen-md) {
      position: absolute;
      top: 14%;
      left: 40px;
      width: calc(100% - 80px);
      min-height: 0;
      max-height: 83%;
      height: 0;
      background-color: rgba(248, 244, 244, 0.45);
    }
  }

  &__mobiles {
    margin-top: 25px;

    @media (min-width: $screen-sm) {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
      background-image: url('../img/spetial__mob-back.jpg');
      background-size: 100% 60%;
      background-position: 0 50%;
      background-repeat: no-repeat;
    }

    @media (min-width: $screen-md) {
      padding-left: 40px;
      padding-right: 50px;
      background-image: url('../img/spetial__mob-back--md.jpg');
      background-size: 100% 65%;
      background-position: 0 43%;
    }

    @media (min-width: $screen-lg) {
      padding-left: 120px;
      padding-right: 120px;
      background-image: url('../img/spetial__mob-back--lg.jpg');
      background-size: 100% 57%;
      background-position: 0 50%;
    }
  }

  &__mobile {
    margin-bottom: 16px;

    @media (min-width: $screen-sm) {
      margin-bottom: 0;
      background-image: none;
    }

    &:last-of-type {
      margin-bottom: 0;
    }

    &--first {
      background-image: url('../img/spetial__mob-back-1--xs.jpg');
      background-size: 100% 47%;
      background-position: 0 39%;
      background-repeat: no-repeat;
    }

    &--second {
      background-image: url('../img/spetial__mob-back-2--xs.jpg');
      background-size: 100% 47%;
      background-position: 0 39%;
      background-repeat: no-repeat;
    }

    &--third {
      background-image: url('../img/spetial__mob-back-3--xs.jpg');
      background-size: 100% 47%;
      background-position: 0 39%;
      background-repeat: no-repeat;
    }
  }

  &__mob-img {
    width: 76%;

    @media (min-width: $screen-sm) {
      width: 93%;
    }

    @media (min-width: $screen-md) {
      width: 100%;
    }
  }
}
