mixin develop()
  section.develop
    span.step__title Шаг седьмой
    h2.develop__title РАЗРАБОТКА
    p.develop__text Разработали несколько разных интерфейсов для слайдеров, чтобы пользователям было удобно на любом устройстве. Упростили механизм наполнения: можно «на лету» менять изображения, описания и тип слайдера и ничего не сломается.
    div.develop__wrapper
      +rooms()
    div.develop__info
      p  Для владельцев сайта сделали удобную синхронизацию с прочими площадками бронирования, где представлена база. На сайте только точная информация о доступных номерах.
      p Минимум сторонних плагинов, никакого незащищенного кода. Все красиво и безопасно. Код семантически верный, методология БЭМ для именования классов, LESS для генерации стилей.
