mixin develop()
  section.develop
    span.step__title Шаг седьмой
    h2.develop__title РАЗРАБОТКА
    p.develop__text Внедрена многовариантность интерфейсов слайдеров для упрощения пользовательского опыта. Спроектировано удобное управление наполнением слайдеров. Можно «на лету» изменить контент, изображения, описания и вид слайдера и ничего не сломается.
    div.develop__wrapper
      +rooms()
    div.develop__info
      p Также для владельцев сайта сделана удобная синхронизация с прочими площадками бронирования, где представлена база. На сайте всегда точная информация о доступных номерах.
      p Минимум сторонних плагинов, никакого незащищенного кода. Все красиво и безопасно. Код семантически верный, методология БЭМ для именования классов, LESS для генерации стилей.
