mixin footer-nav(selected)
  -
    var menu = {
      'Кейсы': '/projects.html',
      'О нас': '/about.html',
      'Контакты': '/contacts.html'
    };

  nav.footer-nav
    ul.footer__list
      each val, key in menu
        li(class= selected.toLowerCase() === key.toLowerCase() ? 'footer__item  footer__item--active' : 'footer__item')
          a(href=val, title=key)= key
