// В этом файле должны быть стили для БЭМ-блока result, его элементов,
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий...
// Очередность: http://nicothin.github.io/idiomatic-pre-CSS/#priority

.result {

  $block-name:                &; // #{$block-name}__element

  padding: 100px 0 120px;
  background-image: url('../img/result-back--xs.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  text-align: center;

  @media (min-width: $screen-sm) {
    padding: 130px 120px 190px;
    background-image: url('../img/result-back--sm.jpg');
  }

  &__wrapper {
    padding: 52px 20px 75px;
    background-color: #f8f4f4;

    @media (min-width: $screen-sm) {
      padding: 87px 50px 125px;
    }
  }

  &__title {
    margin-bottom: 13px;
    font-size: $font-title;
    line-height: $line-title;
    text-transform: uppercase;

    @media (min-width: $screen-sm) {
      margin-top: 2px;
      margin-bottom: 16px;
      font-size: $font-title__sm;
      line-height: 1.2;
    }
  }

}
