mixin result()
  section.result
    div.result__wrapper
      h2.result__title РЕЗУЛЬТАТ
      p.result__text Создали современный сервис с удобной системой бронирования для отеля в красивейшем месте России. Продемонстрировали преимущества отдыха в отеле, и не забыли о богатой истории края.
