// В этом файле должны быть стили для БЭМ-блока result, его элементов,
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий...
// Очередность: http://nicothin.github.io/idiomatic-pre-CSS/#priority

.result {

  $block-name:                &; // #{$block-name}__element

  padding: 100px 0 120px;
  background-image: url('../img/result-back--xs.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  text-align: center;

  @media (min-width: $screen-sm) {
    padding: 130px 120px 190px;
    background-image: url('../img/result-back--sm.jpg');
  }

  @media (min-width: $screen-md) {
    position: relative;
    padding: 160px 160px 190px;
    background-image: url('../img/result-back--md.jpg');
  }

  @media (min-width: $screen-lg) {
    padding: 186px 310px 280px;
  }

  &__wrapper {
    padding: 52px 20px 75px;
    background-color: #f8f4f4;

    @media (min-width: $screen-sm) {
      padding: 87px 50px 125px;
    }

    @media (min-width: $screen-md) {
      position: relative;
      padding: 95px 60px 122px;
      z-index: 2;
    }

    @media (min-width: $screen-lg) {
      padding: 110px 112px 175px;
    }
  }

  &__title {
    margin-bottom: 13px;
    font-size: $font-title;
    line-height: $line-title;
    text-transform: uppercase;

    @media (min-width: $screen-sm) {
      margin-top: 2px;
      margin-bottom: 16px;
      font-size: $font-title__sm;
      line-height: 1.2;
    }

    @media (min-width: $screen-md) {
      position: relative;
      margin-top: 0;
      margin-bottom: 22px;
      font-size: $font-title__md;
      z-index: 2;
    }

    @media (min-width: $screen-lg) {
      margin-bottom: 25px;
      font-size: $font-title__lg;
      line-height: $line-title--lg;
    }
  }

  &__text {

    @media (min-width: $screen-md) {
      position: relative;
      font-size: $font-main--md;
      line-height: $line-main--md;
      z-index: 2;
    }

    @media (min-width: $screen-lg) {
      font-size: $font-main--lg;
      line-height: $line-main--lg;
    }
  }

  &__decore {

    @media (min-width: $screen-md) {
      position: absolute;
      top: 0;
      right: 0;
      min-width: 0;
      max-width: 500px;
      width: 0;
      height: 100%;
      background-color: rgba(255, 255, 255, 0.7);
      z-index: 1;
    }

    @media (min-width: $screen-lg) {
      max-width: 680px;
    }
  }

}
