mixin insta()
  section.insta
    span.step__title Шаг шестой
    h2.insta__title ФОРМИРОВАНИЕ ДОВЕРИЯ
    p.insta__text Доверие  —  первый шаг к увеличению конверсии и, конечно же, прибыли. Эмоциональный дизайн, информативные тексты и честные отзывы  —  одни из самых лучших способов формирования доверия.
    div.insta__wrapper
      img.ista__demo(src='/img/insta-demo--xs.png' alt='Отзывы о нас в Instagram')
