// В этом файле должны быть стили для БЭМ-блока insta, его элементов,
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий...
// Очередность: http://nicothin.github.io/idiomatic-pre-CSS/#priority

.insta {

  $block-name:                &; // #{$block-name}__element

  padding: 50px 20px 40px;
  text-align: center;

  @media (min-width: $screen-sm) {
    padding-top: 73px;
    padding-bottom: 60px;
    background-image: url('../img/insta-back--sm.png');
    background-position: 100% top;
    background-size: 85% 100%;
    background-repeat: no-repeat;
  }

  @media (min-width: $screen-md) {
    position: relative;
    padding-top: 0;
    padding-bottom: 90px;
    background-image: none;
  }

  @media (min-width: $screen-lg) {
    padding-top: 35px;
  }

  &__title {
    margin-bottom: 13px;
    font-size: $font-title;
    line-height: $line-title;
    text-transform: uppercase;

    @media (min-width: $screen-sm) {
      margin-top: 2px;
      margin-bottom: 16px;
      font-size: $font-title__sm;
      line-height: 1.2;
    }

    @media (min-width: $screen-md) {
      position: relative;
      margin-top: 0;
      margin-bottom: 21px;
      font-size: $font-title__md;
      z-index: 2;
    }

    @media (min-width: $screen-lg) {
      margin-bottom: 23px;
      font-size: $font-title__lg;
      line-height: $line-title--lg;
    }
  }

  &__wrapper {
    width: calc(100% + 40px);
    margin-top: 25px;
    margin-left: -20px;
    padding: 35px 20px;
    background-color: #f8f4f4;

    @media (min-width: $screen-sm) {
      margin-top: 45px;
      padding: 55px 70px 80px;
    }

    @media (min-width: $screen-md) {
      margin-top: 95px;
      padding: 57px 98px 82px;
    }

    @media (min-width: $screen-lg) {
      margin-top: 0;
      padding: 75px 180px 115px;
    }
  }

  &__demo {

    @media (min-width: $screen-md) {
      position: relative;
      z-index: 2;
    }

    @media (min-width: $screen-lg) {
      width: 1200px;
    }

  }

  &__text {
    max-width: 650px;
    margin-left: auto;
    margin-right: auto;

    @media (min-width: $screen-sm) {
      max-width: 460px;
      margin-left: auto;
      margin-right: auto;
    }

    @media (min-width: $screen-md) {
      position: relative;
      max-width: 550px;
      font-size: $font-main--md;
      line-height: $line-main--md;
      z-index: 2;
    }

    @media (min-width: $screen-lg) {
      max-width: 600px;
      margin-bottom: 70px;
      font-size: $font-main--lg;
      line-height: $line-main--lg;
    }
  }

  &__decore {

    @media (min-width: $screen-md) {
      content: '';
      position: absolute;
      top: 4%;
      right: 0;
      max-width: 84%;
      min-width: 0;
      width: 0;
      height: 99%;
      background-color: rgba(248, 244, 244, 0.4);
      z-index: 1;
    }

    @media (min-width: $screen-lg) {
      top: 6%;
      max-width: 76%;
      height: 94%;
    }
  }
}
