// В этом файле должны быть стили для БЭМ-блока rooms, его элементов,
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий...
// Очередность: http://nicothin.github.io/idiomatic-pre-CSS/#priority

.rooms {

  $block-name:                &; // #{$block-name}__element

  &__list {
    max-width: none;
    width: 100%;
    margin-left: auto;
    margin-right: auto;

    @media (min-width: $screen-sm)  {
      width: 90%;
      margin-bottom: 17px;
    }

    @media (min-width: $screen-md) {
      width: 100%;
      max-width: 965px;
    }

    @media (min-width: $screen-lg) {
      max-width: 1300px;
    }
  }

  &__item {
    margin: 0;

    margin-bottom: 20px;
    padding-bottom: 40px;
    background-color: #f8f4f4;

    @media (min-width: $screen-sm) {
      margin-left: 10px;
      margin-right: 10px;
    }

    @media (min-width: $screen-md) {
      position: relative;
      margin-left: 15px;
      margin-right: 15px;
      max-width: 380px;
      height: 590px;
      background-color: transparent;
    }

    @media (min-width: $screen-lg) {
      max-width: 500px;
      min-height: 745px;
    }

    &:after {
      @media (min-width: $screen-md) {
        position: absolute;
        content: '';
        width: 310px;
        height: 352px;
        top: 240px;
        left: -15px;
        border: 2px solid rgba(238,0,0,0);
        z-index: -1;
        transition: .4s;
      }
    }

    img {
      width: 100%;
      height: auto;

      @media (min-width: $screen-md) {
        margin-left: 0;
        margin-right: 0;
        width: 280px;
        height: 360px;
        object-fit: cover;
      }

      @media (min-width: $screen-lg) {
        width: 360px;
        height: 500px;
        margin-left: auto;
        margin-right: auto;
      }
    }
  }

  &__item:hover {

    #{$block-name}__price {
      display: block;

      @media (min-width: $screen-lg) {
        font-size: 18px;
      }
    }

    #{$block-name}__book {
      display: flex;
      width: 140px;
      height: 40px;


      @media (min-width: $screen-lg) {
        width: 150px;
      }
    }

    &:after {
      border: 2px solid #e00;

      @media (min-width: $screen-lg) {
        width: 400px;
        height: 500px;
        top: 250px;
        left: 0;
      }
    }
  }

  &__title {
    font-family: Kelson, sans-serif;
    position: relative;
    margin-top: 30px;
    margin-bottom: 24px;
    font-size: 1.5rem;
    line-height: 2rem;
    color: #000;
    text-align: center;
    text-transform: uppercase;
    text-decoration: none;

    &::after {
      content: '';
      position: absolute;
      bottom: -5px;
      left: 50%;
      width: 40px;
      height: 2px;
      margin-left: -20px;
      background-color: #e00;


      @media (min-width: $screen-lg) {
        width: 420px;
        height: 501px;
        top: 250px;
        left: -15px;
      }
    }

    @media (min-width: $screen-md) {
      margin-top: 50px;
      font-size: 24px;
      line-height: 35px;
    }

    @media (min-width: $screen-lg) {
      margin-top: 60px;
    }
  }

  &__lead {
    margin: 0;
    padding: 0 20px 20px;
    text-align: center;
    font-size: 13px;
    line-height: 1.5;
    color: #959595;
    font-style: italic;

    @media (min-width: $screen-lg) {
      padding: 0 30px 20px;
      max-width: 360px;
    }
  }

  &__price {
    font-size: 13px;
    margin-bottom: 25px;

    @media (min-width: $screen-md) {
      display: none;
    }
  }

  &__book {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
    width: 78%;
    max-width: 220px;
    height: 30px;
    background-color: #dd4747;
    font-size: 1.1rem;
    line-height: 2rem;
    text-transform: uppercase;
    text-decoration: none;
    color: #fff;
    cursor: pointer;

    @media (min-width: $screen-sm) {
      width: 130px;
    }

    @media (min-width: $screen-md) {
      display: none;
    }
  }



}
