// В этом файле должны быть стили для БЭМ-блока rooms, его элементов,
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий...
// Очередность: http://nicothin.github.io/idiomatic-pre-CSS/#priority

.rooms {

  &__list {
    max-width: none;
    width: 100%;
    margin-left: auto;
    margin-right: auto;

    @media (min-width: $screen-sm)  {
      width: 90%;
      margin-bottom: 17px;
    }
  }

  &__item {
    margin: 0;

    margin-bottom: 20px;
    padding-bottom: 40px;
    background-color: #f8f4f4;

    @media (min-width: $screen-sm) {
      margin-left: 10px;
      margin-right: 10px;
    }

    img {
      width: 100%;
      height: auto;
    }
  }

  &__title {
    font-family: Kelson, sans-serif;
    position: relative;
    margin-top: 30px;
    margin-bottom: 24px;
    font-size: 1.5rem;
    line-height: 2rem;
    color: #000;
    text-align: center;
    text-transform: uppercase;
    text-decoration: none;

    &::after {
      content: '';
      position: absolute;
      bottom: -5px;
      left: 50%;
      width: 40px;
      height: 2px;
      margin-left: -20px;
      background-color: #e00;
    }
  }

  &__lead {
    margin: 0;
    padding: 0 20px 20px;
    text-align: center;
    font-size: 13px;
    line-height: 1.5;
    color: #959595;
    font-style: italic;
  }

  &__price {
    font-size: 13px;
    margin-bottom: 25px;
  }

  &__book {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
    width: 78%;
    max-width: 220px;
    height: 30px;
    background-color: #dd4747;
    font-size: 1.1rem;
    line-height: 2rem;
    text-transform: uppercase;
    text-decoration: none;
    color: #fff;
    cursor: pointer;

    @media (min-width: $screen-sm) {
      width: 130px;
    }
  }



}
