// В этом файле должны быть стили для БЭМ-блока typography, его элементов,
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий...
// Очередность: http://nicothin.github.io/idiomatic-pre-CSS/#priority

.typography {

  $block-name:                &; // #{$block-name}__element

  position: relative;
  padding: 50px 20px 45px;
  text-align: center;

  @media  (min-width: $screen-sm) {
    padding: 70px 20px 120px;
  }

  @media (min-width: $screen-md) {
    padding: 78px 40px 120px;
  }

  @media (min-width: $screen-lg) {
    padding: 96px 180px 103px;
  }

  &::after {
    content: '';
    position: absolute;
    left: 50%;
    margin-left: -25px;
    width: 50px;
    height: 50px;
    background-image: url('../img/typography--xs.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    @media  (min-width: $screen-sm) {
      bottom: 21px;
      background-image: url('../img/typography--sm.png');
      width: 92px;
      height: 92px;
      margin-left: -46px;
    }

    @media  (min-width: $screen-md) {
      bottom: 30px;
      width: 80px;
      height: 80px;
      margin-left: -40px;
    }

    @media  (min-width: $screen-lg) {
      bottom: -16px;
      width: 100px;
      height: 100px;
      margin-left: -50px;
    }
  }

  &__title {
    margin-bottom: 25px;
    font-size: $font-title;
    line-height: $line-title;
    text-transform: uppercase;

    @media  (min-width: $screen-sm) {
      margin-top: 2px;
      margin-bottom: 20px;
      font-size: $font-title__sm;
      line-height: 1.2;
    }

    @media (min-width: $screen-md) {
      margin-top: 0;
      margin-bottom: 25px;
      font-size: $font-title__md;
    }

    @media (min-width: $screen-lg) {
      margin-bottom: 23px;
      font-size: $font-title__lg;
      line-height: $line-title--lg;
    }
  }

  &__wrapper {
    @media  (min-width: $screen-sm) {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
      max-width: 850px;
      margin-left: auto;
      margin-right: auto;
      padding: 60px 35px 70px;
      background-color: #ffffff;
      box-shadow: 0px 4px 50px rgba(0, 0, 0, 0.05);
    }

    @media (min-width: $screen-md) {
      max-width: 1000px;
      padding: 60px 40px 70px;
    }

    @media  (min-width: $screen-lg) {
      padding: 80px 85px 90px;
    }
  }

  &__list {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    max-width: 450px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 48px;
    padding-left: 20px;
    padding-right: 20px;

    @media  (min-width: $screen-sm) {
      max-width: 395px;
      margin-top: 32px;
      margin-bottom: 55px;
    }

    @media (min-width: $screen-md) {
      max-width: 333px;
      margin-top: 40px;
      margin-bottom: 75px;
    }

    @media (min-width: $screen-lg) {
      max-width: 414px;
      margin-top: 42px;
      margin-bottom: 85px;
    }
  }

  &__item {
    position: relative;
    display: flex;
    justify-content: center;

    &::before {
      content: '';
      position: absolute;
      width: 60px;
      height: 60px;
      border-radius: 50%;

      @media  (min-width: $screen-sm) {
        width: 80px;
        height: 80px;
      }

      @media (min-width: $screen-lg) {
        width: 100px;
        height: 100px;
      }
    }

    &--red::before {
      background-color: #ee0000;
      box-shadow: 0px 4px 15px rgba(178, 1, 1, 0.3);
    }

    &--white::before {
      background-color: #ffffff;
      box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.1);
    }

    &--beige::before {
      background-color: #F8F4F4;
      box-shadow: 0px 4px 15px #D6D0D0;
    }

    span {
      padding-top: 70px;
      font-size: 11px;
      line-height: 25px;
      color: #9F9F9F;

      @media  (min-width: $screen-sm) {
        padding-top: 95px;
        font-size: $font-main;
        line-height: $line-main;
      }

      @media  (min-width: $screen-md) {
        padding-top: 105px;
        font-size: 14px;
      }

      @media (min-width: $screen-lg) {
        padding-top: 127px;
      }
    }
  }

  &__kelson {
    margin-bottom: 30px;
    font-family: Kelson, sans-serif;

    @media  (min-width: $screen-sm) {
      margin-bottom: 0;
    }

    @media (min-width: $screen-md) {
      width: 45%;
    }

    @media  (min-width: $screen-lg) {
      width: 47%;
    }
  }

  &__fira {

    @media (min-width: $screen-md) {
      width: 45%;
    }


    @media  (min-width: $screen-lg) {
      width: 47%;
    }
  }

  &__type {
    margin-bottom: 10px;
    font-size: 18px;
    line-height: 25px;

    @media  (min-width: $screen-sm) {
      margin-bottom: 23px;
      font-size: 20px;
      line-height: 25px;
    }

    @media  (min-width: $screen-lg) {
      margin-bottom: 8px;
      font-size: 25px;
      line-height: 45px;
    }
  }

  &__line {
    font-size: 11px;
    line-height: 20px;
    color: #BBBBBB;
    letter-spacing: 1px;

    @media  (min-width: $screen-sm) {
      margin-bottom: 5px;
      font-size: 12px;
      letter-spacing: 2px;
    }

    @media (min-width: $screen-md) {
      font-size: 13px;
      line-height: 20px;
      letter-spacing: 3px;
    }

    @media  (min-width: $screen-lg) {
      font-size: 14px;
      line-height: 25px;
    }
  }

  &__weight {
    font-size: 12px;
    line-height: 25px;
    color: #EE0000;

    @media  (min-width: $screen-sm) {
      display: block;
      margin-top: 12px;
      font-size: 14px;
    }

    @media (min-width: $screen-md) {
      margin-top: 20px;
    }

    @media  (min-width: $screen-lg) {
      margin-top: 15px;
    }
  }

}
