mixin typography()
  section.typography
    span.step__title Шаг второй
    h2.typography__title ЦВЕТ И ТИПОГРАФИКА
    ul.typography__list
      li.typography__item.typography__item--red
        span #EE0000
      li.typography__item.typography__item--white
        span #FFFFFF
      li.typography__item.typography__item--beige
        span #F8F4F4
    div.typography__wrapper
      section.typography__kelson
        h3.typography__type Kelson Sans BG
        p.typography__line.typography__line--big АБВГДЕЁЖЗИЙКЛМНОПРСТУФХЦЧШЩЪЫЬЭЮЯ
        p.typography__line.typography__line--small абвгдеёжзийклмнопрстуфхцчшщъыьэюя
        span.typography__weight bold
      section.typography__fira
        h3.typography__type Fira Sans
        p.typography__line.typography__line--big АБВГДЕЁЖЗИЙКЛМНОПРСТУФХЦЧШЩЪЫЬЭЮЯ
        p.typography__line.typography__line--small абвгдеёжзийклмнопрстуфхцчшщъыьэюя
        span.typography__weight regular
