extends templates/layout-home.pug

block header
  +header('Главная')

block page
  +lead()
  +prototype()
  +typography()
  +concept()
  +spetial()
  +coffee()
  +insta()
  +develop()
  +result()
  +feedback()


block footer
  +footer('Главная')
  +modal()
