//- Подключение примесей

include blocks/main-nav/main-nav.pug
include blocks/footer/footer.pug
include blocks/footer-nav/footer-nav.pug
include blocks/header/header.pug
include blocks/loader/loader.pug
include blocks/modal/modal.pug
include blocks/feedback/feedback.pug
include blocks/lead/lead.pug
include blocks/prototype/prototype.pug
include blocks/typography/typography.pug
include blocks/concept/concept.pug
include blocks/spetial/spetial.pug
include blocks/rooms/rooms.pug
include blocks/reservation/reservation.pug
include blocks/coffee/coffee.pug
include blocks/develop/develop.pug
include blocks/result/result.pug
include blocks/form/form.pug
include blocks/step/step.pug
include blocks/insta/insta.pug
