$light-background:     #f9f9f9;
$main-background:      #f8f4f4;
$main-warning:         #ee0000;
$light-warning:        rgba(238, 0, 0, 0.8);

$font-family:           Fira Sans, Roboto, Helvetica Neue, sans-serif;
$font-family-main:      Ubuntu, sans-serif;
$font-main:             14px;
$font-main--md:         16px;
$font-xs:               8px;
$font-title:            20px;
$font-title__sm:        33px;
$font-title__md:        38px;
$font-second-title__sm: 27px;
$font-second-line__sm:  50px;
$line-main:             20px;
$line-main--md:         25px;
$line-xs:               15px;
$line-title:            30px;
$text-color:            #000000;

$screen-sm:           768px;
$screen-md:           1000px;
$screen-lg:           1440px;
$screen-xl:           1920px;

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}
